@model IEnumerable<StockTracking.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 style="margin-left:4px">Brand List</h4>
            <p>
                @Html.ActionLink("Add New Brand", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <table id="BrandList" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Brand Name
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            <td>
                                @Html.ActionLink("Update", "Edit", new { id = item.BrandID }, new { @class = "btn btn-primary btn-sm" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.BrandID }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>